.swiper-button-next,
.swiper-button-prev {
  display: flex !important;
  align-items: center !important;
  justify-content: center !important;
  background-color: var(--color-muted) !important;
  border-radius: 99rem !important;
  color: #090d14 !important;
  font-family: none !important;
  height: 2.3rem !important;
  width: 2.3rem !important;
}
.swiper-button-next:hover,
.swiper-button-prev:hover {
  color: #e7000b !important;
  border-radius: 99rem !important;
}

.swiper-pagination-bullet {
  width: 1rem !important;
  border-radius: 0.5rem !important;
  height: 0.5rem !important;
}

.swiper-button-next:after,
.swiper-button-prev:after {
  font-size: 1rem !important;
}

.carousel-container {
  background-color: white;
  padding: 7px;
  border: 1px solid #d1d5dc;
  border-radius: 4px;
  width: 100%;
  height: auto;
}

.carousel-box {
  padding: 3px;
}

.carousel-container-img {
  margin-bottom: 10px;
  cursor: pointer;
}

.carousel-container-button {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 4px;
  margin-top: 1.2rem;
}
